venv/
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

\.idea/ak_bars_hack\.iml
\.idea/encodings\.xml
\.idea/misc\.xml
\.idea/modules\.xml
\.idea/vcs\.xml
\.idea/workspace\.xml
